* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #1b7b8e;
	background-image:url('../images/kalturabg.png');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center; 
}
.messages {
	position: absolute;
	color: #BBCCFF;
	top: 4%;
	left: 30%;
}